// override BS5 variables and custom variables mixins

// FONT SIZE BREAKPOINTS
$small: 576px;
$medium: 768px;
$large: 992px;

// colors
$main-color: #2e2d2d;
$beige-color: #e3e2e3;
$grey: #838383;
$darkgrey: #575757;
$white: #ebebeb;
